@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
}

/* Hide scrollbar for clean UI in horizontal lists */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
